html, body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh; /* fullscreen */
  background: #f8f9fa;
}

.map-legend{
  bottom: 10px;
  left: 10px;
  z-index: 1000;
  background: white;
  padding: 10px;
  border: 1px solid grey;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

#kpi-panel {
  flex: 0 1 20%; 
  display: flex;
  flex-direction: column; /* horizontal */
  gap: 6px; /* between the card */
  background: #f8f8f8;
  padding: 5px;
}

.kpi-row {
  display: flex;
  flex-wrap: wrap; /* accept wrap */
  justify-content: space-between; /* Card even */
  gap: 6px; /* between card */
}

.kpi-card {
  flex: 1 1 calc(100% / 10 - 12px); /*card placed evenly, normal 10 card?  */
  min-width: 100px; /* minimum card width to ensure readable */
  max-width: calc(100% / 5 - 12px); /* card placed evenly, max 5 card? */
  background: black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 10px 5px;
  color: whitesmoke;
}

/* title and card are same */
#kpi-title {
  width: 100%; /*same width */
  font-size: 30px; /* adjust font size */
  font-weight: bold;
  color: #333;
  background: white;
  border-radius: 6px;
  text-align: center; /* align center */
  padding: 5px;
}

.kpi-card .label {
  font-size: 0.85em;
  color: whitesmoke;
}

.kpi-card .value {
  font-size: 1.5em;
  font-weight: bold;
  color: whitesmoke;
  margin-top: 2px;
}

#bottom-panel {
  flex: 1; /* 80% height */
  display: flex;
  flex-direction: row;
  background: #fff;
  overflow: hidden;
}

#left-panel {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  background: #fafafa;
  overflow-y: auto; /*add scrollbar if need */
  padding: 5px;
  gap: 10px;
  border-right: 1px solid #ddd;
}

.pie-panel img,
#additional-pie-container img {
  display: block;
  width: 100%;          /* scale down to screen width */
  height: auto;         /* keep scale */
  max-width: 100%;
  border-radius: 8px;
  object-fit: contain;  /* same size */
  cursor: pointer;      /* tips for click */
  pointer-events: auto; /* ensure the event */
}
#additional-pie-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  padding-top: 80px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
}

.close {
  position: absolute;
  top: 30px;
  right: 50px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

#map-panel {
  flex: 0 0 60%;
  position: relative;
  background: #e0e0e0;
  margin: 10px;
  border-radius: 10px;
}

#map {
  height: 100%;
  border-radius: 10px;
}

#toggle-legend,
#toggle-layer-control {
  display: none;
}

#right-panel {
  flex: 0 0 20%;
  min-width: 180px;
  max-width: 350px;
  background: #fafafa;
  margin: 10px 0 10px 0;
  border-radius: 10px;
  display: flex; 
  flex-direction: column;
}

#right-panel h2 { 
  margin-top: 0; }
    
.result-box {
  margin-top: 10px;
  padding: 10px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

@media (max-width: 1024px) {
  .kpi-card {
    flex: 1 1 calc(20% - 12px); /* 4 card in each row */
    min-width: 100px; /* not too narrow */
  }
}
@media (max-width: 768px) {
  .kpi-card {
    flex: 1 1 calc(33.33% - 12px); /* 3 card in each row */
    min-width: 100px; /*  not too narrow */
  }
}

/*smart phone*/
@media (max-width: 600px) {
   html, body {
    display: block;  /* cancel flex to become a normal ordering  */
    height: auto;    /* no high requirement  */
  }
  #kpi-panel {
    /*display: flex;*/
    flex-direction: column;
    /*align-items: stretch;*/
  }
  #kpi-title {
    width: 100%;
    margin: 0 0 10px 0;
    font-size: 22px;
    padding: 14px 8px;
  }

  .kpi-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .kpi-card {
    min-width: 90vw;     /* width as screen */
    max-width: 100%;
    /*flex-direction: column;*/
    flex: none;
  }

  #bottom-panel {
    order: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
  }
  #left-panel {
    flex: none;        
    width: 90%;
    margin: 0 auto 10px;
    border-right: none;
    overflow-y: visible; /*no need scroll bar*/
  }
  #map-panel {
  flex: none;           
  width: 90%;           
  margin: 5px;  
  border-right: none;   
  height: 100vh;
  overflow-y: visible;
  }
  .map-legend {
    position: relative; 
    display: none; 
    bottom: 50px;
    right: 1px;
    z-index: 1200;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    transform: scale(0.65);  
  }

  .legend-age,
  #legend_total  {
  transform: scale(0.65);   
  transform-origin: top right; 
  }

  .leaflet-control-layers {
    display: none; /* default hidden, until JS toggle to show */
    position: absolute  !important;
    bottom: 1px  !important;
    right: 1px  !important;
    z-index: 2000;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    transform: scale(0.65);   

  }
  #toggle-legend,#toggle-layer-control {
      position: absolute;
      z-index: 3000;
      display: block;
      margin: 5px auto;
      padding: 4px 10px;
      background: white;
      border: 1px solid #ccc;
      border-radius: 6px;
      cursor: pointer;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      font-size: 12px;
      text-align: center;
    }
  #toggle-legend {
    bottom: 80px;
  } 
  #toggle-layer-control{
    bottom: 50px;
  }

  #right-panel {
  flex: none;           /*cancel original flex  */
  width: 90%;           /* kepp margin */
  margin: 5px;  
  border-right: none;   /* no need to seperate left and right */
  height: 120vh;
  overflow-y: visible;
  }
}